<% if @artical.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h4 class='alert-heading'>Please fill all of these</h4>
        <ul>
            <% @artical.errors.full_messages.each do |msg| %>
            <li><%= msg%></li>
            <% end %>
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="this.parentElement.style.display='none'"></button>

    </div>
        
<% end %> 
