<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Youtube", "https://www.youtube.com/", class:"nav-link" %></small>
  </div>
</footer>